<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1">
    <title>HireHub Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 16px;
      }
    </style>
  </head>

  <body>
    {% include 'nav.html' %}
        <img class="img-fluid" id="banner" src="https://careers-website2--abhishekkum1086.repl.co/static/banner.jpg" alt=""
     height="320" >
    <div class="container">
    <h1 class="text-center" mt-2 mb-4>{{company_name}} Careers
    </h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
    <p class="lead"> At HireHub, we’re on a mission to build the most highly reputed technical university in the world, and we’re building it completely online. Our flagship data science program helps working professionals with a background in programming or analytics make a career transition to data science. We also offer several free beginner-friendly courses and have a fast-growing community of 200,000+ users.
    </p>
     </div>
        <div class="d-none d-md-block col-md-6">
<img src="/static/people.jpg" style="height:320px; border-radius:4px;">
       </div>  
     </div>
    <h2 class="text-center" mt-2 mb-4>Open positions</h2>
  <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-centre">
        <a class="btn btn-primary btn-lg" href="mailto:hello@hirehub.ai?subject=question%20about%20Job%20opening&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Question%3A%20%3CEnter%20question%20here%3E">Contact 
          Us</a>
        </div>
      </div>
    {% include 'footer.html' %}
  </body>
</html>